@use '~src/styles/design-system' as *;

.product-container {
  @include grid-template;

  position: relative;

  &-product {
    display: flex;
    justify-content: center;
    align-items: center;

    @include float-animation;
  }

  .sentinel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    height: 1px;
    opacity: 0;
    pointer-events: none;
  }
}
