// html {
// overflow: hidden;
// }

body {
  overscroll-behavior: contain;
}

.slot-machine {
  font-size: 22px;
  font-weight: 600px;
  display: flex;
  justify-content: center;

  .pullable {
    overflow: scroll;
  }

  .slot {
    transition-property: transform;
    display: inline-block;
    max-width: 800px;
    width: 100%;

    .slot-body {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .menu {
    display: inline-block;
    margin-left: 2em;
    width: 8 em;
  }

  .content {
    transition-property: transform;
    min-height: 100vh;
  }
}
