// html {
// overflow: hidden;
// }

body {
  overscroll-behavior: contain;
}

.slot-machine {
  font-size: 22px;
  font-weight: 600px;
  display: flex;
  justify-content: center;

  .pullable {
    overflow: scroll;
    width: 100%;
  }

  .slot {
    transition-property: transform;
    display: inline-block;
    width: 100%;

    .slot-body {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu,
  .pull-label {
    font-size: 20px;
  }

  .menu {
    display: inline-block;
    width: 6em;
    text-align: right;
  }

  .pull-label {
    margin-left: 10px;
    margin-right: 3em;
  }

  .content {
    transition-property: transform;
    min-height: 100vh;
  }
}
