@use '~src/styles/design-system' as *;

.minus-plus {
  $height: 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  max-width: 130px;
  height: $height;
  left: 154.8px;
  top: 30.02px;
  background: var(--layered-element);
  border-radius: $circle;

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  .quantity {
    flex: 1;
    text-align: center;
  }
}
