@use '~src/styles/design-system' as *;

$banner-gap: 14px;

.banner-wrapper {
  display: inline-block;
  height: calc(100% - 5px);
  min-width: 100%;

  // @include larger-than(700px) {
  //   min-width: 50%;
  // }

  // @include larger-than(1400px) {
  //   min-width: 33.333333%;
  // }
}

.banner {
  width: calc(100% - #{$banner-gap * 2});
  max-width: 800px;
  margin: auto;
  height: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: var(--bmart-shadow);
  background-color: var(--element-fill);
  background-image: linear-gradient(
    108.93deg,
    var(--grad-begin) -3.09%,
    var(--grad-end) 96.75%
  );
  color: #fff;
  user-select: none;
  overflow: hidden;

  &.violet {
    --grad-begin: #5c63ff;
    --grad-end: #3503c4;
  }

  &.purple {
    --grad-begin: #f05ca3;
    --grad-end: #c30331;
  }

  &.sky {
    --grad-begin: #4ecaff;
    --grad-end: #0398c7;
  }

  &.orange {
    --grad-begin: #ff9838;
    --grad-end: #ff5c00;
  }

  &.mint {
    --grad-begin: #35dcc8;
    --grad-end: #01b4b4;
  }

  &.grass {
    --grad-begin: #6bdd62;
    --grad-end: #468530;
  }

  &.dark {
    --grad-begin: #615c51;
    --grad-end: #1c1915;
  }

  &.blue {
    --grad-begin: #6889ff;
    --grad-end: #0353cb;
  }

  .text {
    width: calc(100% - 36px);
    margin: auto;
    padding-top: 19px;

    .subtitle * {
      font-size: 15px;
      font-weight: 500;
    }

    .title {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &,
      * {
        font-size: 27px;
        font-weight: 700;
      }
    }
  }

  .sentinel {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
  }
}
