.cart {
  width: 100%;
  &-header {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-icon {
      margin-bottom: 15px;
    }
    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }
  }
  &-items {
    padding: 0px 23px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
    gap: 29px 23px;
  }
  &-footer {
    padding: 42px 13px 98px;
    &-total-price {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: #000;
      margin-bottom: 12px;
    }
    &-confirm-button {
      padding: 10px;
      background-color: #2ac1bc;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      margin: 0 13px;
    }
  }
}
