@use '~src/styles/design-system' as *;

.cart {
  width: 100%;
  max-width: 800px;
  margin: auto;

  &-items {
    padding: 0 var(--ordinary-space);

    @include grid-template(274px, 1fr, 0, 23px);
  }

  &-footer {
    padding: 42px var(--ordinary-space) 100px;

    &-total-price {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 12px;
    }

    &-confirm-button {
      padding: 10px;
      background-color: #2ac1bc;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #fff;
    }
  }
}
