@use '~src/styles/design-system' as *;

.cart {
  width: 100%;
  max-width: 800px;
  margin: auto;

  .mock {
    border-radius: 7px;
    height: 0.8em;
    line-height: 140%;
    background-color: var(--element);
    color: transparent;
    margin-right: 0.7em;
  }

  &-items {
    padding: 0 var(--ordinary-space);

    @include grid-template(274px, 1fr, 0, 23px);
  }

  .default-address {
    padding: var(--ordinary-space);
    max-width: 500px;
    margin: auto;

    .address-box {
      border-radius: 10px;
      padding: var(--ordinary-space);
      background-color: var(--element);
      text-align: center;

      .title {
        font-size: 20px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);

        @include dark-mode {
          border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        }
      }
    }

    .address {
      margin-top: 12px;
    }
  }

  &-footer {
    padding: 42px var(--ordinary-space) 100px;
    max-width: 500px;
    margin: auto;

    &-total-price {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 12px;
    }

    &-confirm-button {
      padding: 10px;
      background-color: #2ac1bc;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #fff;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
