@use '~src/styles/design-system' as *;

.cart {
  width: 100%;
  max-width: 800px;
  margin: auto;

  .mock {
    border-radius: 7px;
    height: 0.8em;
    line-height: 140%;
    background-color: #aaa;
    color: #aaa;
    margin-right: 0.7em;
  }

  &-items {
    padding: 0 var(--ordinary-space);

    @include grid-template(274px, 1fr, 0, 23px);
  }

  &-footer {
    padding: 42px var(--ordinary-space) 100px;

    &-total-price {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 12px;
    }

    &-confirm-button {
      padding: 10px;
      background-color: #2ac1bc;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #fff;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
