.sub-category-selector {
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  font-style: normal;

  :not(.active) {
    color: #ccc;
  }

  .mock {
    border-radius: 7px;
    height: 18px;
    line-height: 140%;
    background-color: #eee;
    color: #eee;
  }
}
