:root {
  // Colors
  --bmart-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  --bmart-light-blue: #f3f3f5;
  --white: #fff;
  --black: #000;

  // Theme
  --element-fill: var(--bmart-light-blue);
  --distinct: var(--black);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: initial;
  font-weight: 600;
}
