@mixin backdrop-blur {
  backdrop-filter: blur(20px) saturate(1.7);
}

@mixin translucent($background-color, $blur-amount: 20px) {
  background-color: $background-color;
  backdrop-filter: blur($blur-amount);
}

@mixin foundation-translucent {
  @include translucent(var(--foundation-opaque));
}

@mixin element-translucent {
  @include translucent(var(--element-opaque));
}

@mixin grid-template(
  $item-min-width: 120px,
  $item-max-width: 1fr,
  $gap-vertical: 20px,
  $gap-horizontal: 10px
) {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($item-min-width, $item-max-width)
  );
  gap: $gap-vertical $gap-horizontal;
}

@mixin float-animation($animation-duration: 400ms) {
  opacity: 0;
  animation: float $animation-duration ease forwards;

  @keyframes float {
    from {
      transform: scaleX(0.9) translateY(20px);
      opacity: 0;
    }

    to {
      transform: scaleX(1) translateY(0);
      opacity: 1;
    }
  }
}

@mixin skeleton-animation($animation-duration: 2s) {
  background-image: linear-gradient(
    102.74deg,
    #e0e0e0 6.76%,
    #fff 33.45%,
    #e7e7e7 90.78%
  ) !important;
  background-size: 400% 100%;
  animation: gradient-movement $animation-duration ease infinite;
  will-change: background-position;

  * {
    opacity: 0;
  }

  @keyframes gradient-movement {
    0%,
    100% {
      background-position: right center;
    }

    50% {
      background-position: left center;
    }
  }
}
