@mixin backdrop-blur {
  backdrop-filter: blur(20px) saturate(1.7);
}

@mixin translucent($background-color, $blur-amount: 20px) {
  background-color: $background-color;
  backdrop-filter: blur($blur-amount);
}

@mixin foundation-translucent {
  @include translucent(var(--foundation-opaque));
}

@mixin element-translucent {
  @include translucent(var(--element-opaque));
}

@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
