@mixin backdrop-blur {
  backdrop-filter: blur(20px) saturate(1.7);
}

@mixin translucent($background-color, $blur-amount: 20px) {
  background-color: $background-color;
  backdrop-filter: blur($blur-amount);
}

@mixin foundation-translucent {
  @include translucent(var(--foundation-opaque));
}

@mixin element-translucent {
  @include translucent(var(--element-opaque));
}

@mixin grid-template(
  $item-min-width: 120px,
  $item-max-width: 1fr,
  $gap-vertical: 20px,
  $gap-horizontal: 10px
) {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax($item-min-width, $item-max-width)
  );
  gap: $gap-vertical $gap-horizontal;
}
