body {
  padding: 0 !important;
}

.category-details {
  max-width: 800px;
  margin: auto;
  padding: 25px var(--ordinary-space);
  padding-bottom: 100px;
  font-weight: 600;
  user-select: none;
  height: 100%;
  overflow-y: auto;
  overflow-anchor: none;

  .title {
    display: flex;
    font-style: normal;
    font-size: 25px;
    vertical-align: center;
    line-height: 140%;
    margin-bottom: 17px;
    align-items: center;

    .icon {
      margin-left: 7px;
      height: 25px;
      padding-bottom: 2px;
    }
  }

  .sort-by {
    .icon {
      margin-right: 5px;
    }

    margin: 17px 0;
    display: flex;
    justify-content: flex-end;
  }
}
