body {
  padding: 0px !important;
}
.category-details {
  font-family: PAYW Pro;
  padding: 25px;
  font-weight: 600;
  .title {
    font-style: normal;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 17px;
    .title-icon {
      margin-left: 7px;
      display: inline-block;
      background-image: url('~src/assets/images/chevron-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
    }
  }
  .sort-by {
    .sort-by-icon {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 5px;
      background-image: url('~src/assets/images/arrow-up-down.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
    margin: 17px 0px;
    display: flex;
    justify-content: flex-end;
  }
}
