.drawer {
  --holder-height: 40px;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
    transition: opacity 500ms ease;
    will-change: opacity;
  }

  .body {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: var(--layered-foundation);
    border-radius: 20px 20px 0 0;

    &.active {
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }

    .holder {
      min-height: var(--holder-height);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
