.drawer {
  $drawerHeight: 20px;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
    transition-duration: 0.5s;
  }

  .body {
    position: fixed;
    left: 0;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(30px);
    border-radius: 20px 20px 0 0;

    &.active {
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }

    .holder {
      min-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .handle {
        display: inline-block;
        background-image: url('~src/assets/images/drawer-handle.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 3px;
        width: 36px;
      }
    }

    .container {
      max-height: 70vh;
      overflow: scroll;
    }
  }
}
