@use '~src/styles/design-system' as *;

.go-back {
  position: fixed;
  left: 20px;
  bottom: 20px;
  height: 50px;
  padding: 0 20px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include foundation-translucent;

  box-shadow: var(--shortcut-shadow);
}
