.topic-container {
  .scroll-container {
    width: 100vw;
    overflow: scroll;

    .container {
      width: 100vw;
      display: grid;
      gap: var(--ordinary-space);
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      margin: auto;
    }
  }
}
