.carousel-dots {
  width: 100%;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  .dots-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--element);
    border-radius: 9999px;
    transition: transform 100ms ease;
    padding: 0 5px;

    &.traveling {
      transform: scale(1.5);
      cursor: pointer;
    }

    .dot-wrapper {
      height: 15px;
      width: 17px;
      display: flex;
      align-items: center;
      justify-content: center;

      .dot {
        $dot-color: #b0b0b0;
        $dot-size: 3px;

        width: $dot-size;
        height: $dot-size;
        background-color: $dot-color;
        border-radius: 9999px;
        transition: background-color 200ms ease, box-shadow 200ms ease;

        &.current {
          box-shadow: 0 0 0 1px var(--distinct);
          background-color: var(--distinct);
        }
      }
    }
  }
}
