@use '~src/styles/design-system' as *;

.search {
  &-input-wrapper {
    width: 100%;
    max-width: 600px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 11px 12px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;

    .search-input-icon {
      display: inline-block;
      background-image: url('~src/assets/images/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 23px;
      height: 24px;
      margin-right: 9px;
    }

    .search-input {
      flex: 1;
      height: 100%;
      color: #808080;
      font-weight: 500;
      background-color: transparent;
      border: none;
      padding-right: 35px;
    }

    .search-input-button {
      position: absolute;
      right: 12px;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
      pointer-events: none;
      user-select: none;
      color: #000;
      font-weight: 600;
      font-size: 15px;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &-results {
    @include grid-template();

    &-result {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
