.search-input-container {
  width: 100%;
  max-width: 600px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;

  .icon {
    position: absolute;
    left: 12px;
    pointer-events: none;
  }

  .search-input {
    flex: 1;
    height: 100%;
    font-weight: 500;
    background-color: var(--layered-element);
    border: none;
    padding: 11px 0;
    padding-left: 40px;
    padding-right: 40px;
    color: var(--distinct);

    &::placeholder {
      color: var(--universal-gray);
    }
  }

  .search-input-button {
    position: absolute;
    right: 12px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;
    user-select: none;
    font-weight: 600;
    font-size: 15px;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
