@use '~src/styles/variables' as *;

.slide-page {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  scroll-snap-align: start;
  padding-top: $header-height + $ordinary-space;
  overflow-x: hidden;
  overflow-y: auto;

  & > * {
    white-space: initial;
  }

  .sp-vertical-scroll-sentinel {
    position: absolute;
    left: 20px;
    top: $ordinary-space * 2;
    width: calc(100% - 40px);
    height: 1px;
    pointer-events: none;
    opacity: 0;
  }

  .sp-horizontal-scroll-sentinel {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
  }
}
