@use '~src/styles/variables' as *;

.slide-page {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  scroll-snap-align: start;
  padding-top: $header-height + $ordinary-space;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;

  & * {
    white-space: initial;
  }

  &:nth-child(2) {
    background-image: linear-gradient(to bottom, #565977, #5b2f62);
  }
}
