@use '~src/styles/variables' as *;

.slide-page {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  scroll-snap-align: start;
  padding: var(--ordinary-space);
  padding-top: $header-height + $ordinary-space;
  overflow-x: hidden;
  overflow-y: auto;

  & > * {
    white-space: initial;
  }

  .sp-sentinel {
    position: absolute;
    left: 0;
    top: $ordinary-space * 2;
    width: 100%;
    height: 1px;
    pointer-events: none;
    opacity: 0;
  }
}
