.bmart {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slide-pages-scroll-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
