@use '~src/styles/design-system' as *;

.search-results {
  @include grid-template();

  &-result {
    display: flex;
    justify-content: center;
    align-items: center;

    @include float-animation;
  }
}
