@use '~src/styles/design-system' as *;

.search-results {
  @include grid-template();

  &-result {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: float 400ms ease forwards;
  }
}

@keyframes float {
  from {
    transform: scaleX(0.9) translateY(20px);
    opacity: 0;
  }

  to {
    transform: scaleX(1) translateY(0);
    opacity: 1;
  }
}
