.product-item {
  display: inline-block;
  width: 120px;
  height: 158px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;

  --cover-animation-duration: 800ms;

  .heart-icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .discount-label {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 7px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);

    &-name {
      display: block;
      font-size: 10px;
      line-height: 10px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 5px;
      max-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-price {
      display: inline-block;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      padding: 3px 4px;
      line-height: 10px;

      &-default {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        font-size: 9px;
        text-decoration-line: line-through;
        margin-right: 5px;
      }

      &-current {
        color: #fff;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-weight: 600;
        font-size: 10px;
      }
    }
  }

  &-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: cover-animation;
    animation-duration: var(--cover-animation-duration);
  }

  .hidden {
    display: none;
  }

  &.skeleton {
    background-image: linear-gradient(
      102.74deg,
      #e0e0e0 6.76%,
      #fff 33.45%,
      #e7e7e7 90.78%
    ) !important;
    background-size: 400% 100%;
    animation: gradient-movement 2s ease infinite;
    will-change: background-position;

    * {
      opacity: 0;
    }
  }
}

@keyframes cover-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  20% {
    opacity: 1;
    transform: scale(1.2);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes heart-animation {
  0% {
    transform: scale (0.1);
  }

  70% {
    transform: scale (1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes gradient-movement {
  0%,
  100% {
    background-position: right center;
  }

  50% {
    background-position: left center;
  }
}
