@use '~src/styles/design-system' as *;

.home {
  --home-gap: 37px;

  .home-content {
    padding: 0 var(--ordinary-space);
    margin-top: var(--home-gap);

    .categories-container {
      display: grid;
      gap: var(--ordinary-space);
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      max-width: 800px;
      margin: auto;
    }
  }

  .version {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: inherit;
    }

    .label {
      font-size: 15px;
      font-weight: 500;
      background-color: var(--element);
      padding: 9px 10px;
      border-radius: 5px;
      line-height: 1;
    }
  }
}
