.option-selector {
  font-style: PAYW Pro;
  font-weight: 600;
  font-size: 17px;
  ul {
    padding: 0 25px;
    margin: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      border-radius: 10px;
      list-style: none;
      line-height: 21px;
      &.active {
        background-color: rgb(65, 65, 65);
        color: white;
      }
    }
  }
}
