@use '~src/styles/design-system' as *;

.product-details {
  width: 100%;
  text-align: center;
  // min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-image {
    width: calc(100% - var(--ordinary-space) * 2);
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    height: auto;

    @include larger-than(650px) {
      border-radius: 20px;
    }
  }

  &-info {
    padding: 25px 15px 0;
    text-align: left;
    max-width: 500px;
    margin: auto;

    @include larger-than(650px) {
      max-width: 600px;
      padding: 30px 40px;
      margin-top: 30px;
      border-radius: 20px;
      background-color: var(--element);
    }

    &-category {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 25px;

      .icon {
        margin: 0 3px;
      }
    }

    &-description {
      font-weight: 600;
      font-size: 15px;
      color: var(--universal-gray);
      margin-bottom: 7px;
    }

    &-name {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 32px;
    }

    &-price-info {
      display: flex;
      align-items: center;
      margin-bottom: 62px;

      &-price {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-default {
          font-weight: 600;
          font-size: 15px;
          text-decoration-line: line-through;
          color: var(--universal-gray);
        }

        &-current {
          font-size: 25px;
          font-weight: 700;
        }
      }
    }

    &-options {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 30px;
      border-top: 1px solid rgba($color: #000, $alpha: 0.1);

      @include dark-mode {
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
      }

      &-cart {
        position: relative;

        &-marker {
          position: absolute;
          right: -12px;
          top: -15px;
          background-color: var(--distinct);
          padding: 2px 4px;
          line-height: 1;
          color: var(--foundation);
          font-size: 14px;
          border-radius: $circle;
        }
      }
    }
  }

  &-cart {
    padding: 0 30px 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-image {
      width: 130px;
      height: auto;
      border-radius: 10px;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &-confirm {
        background-color: #2ac1bc;
        border-radius: 9999px;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        height: 45px;
        width: 100%;
        max-width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: var(--ordinary-space);
      }
    }
  }
}
