@use '~src/styles/design-system' as *;

.search-terms {
  &-title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 9px;
  }

  &-term {
    background-color: var(--layered-element);
    border-radius: 10px;
    width: 100%;
    padding: 9px 12px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include float-animation;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
