.search-terms {
  &-title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 9px;
  }

  &-term {
    // TODO: border 지우기
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    padding: 9px 12px;
    color: #000;
    font-weight: 500;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: float 400ms ease forwards;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

@keyframes float {
  from {
    transform: scaleX(0.9) translateY(20px);
    opacity: 0;
  }

  to {
    transform: scaleX(1) translateY(0);
    opacity: 1;
  }
}
